<!DOCTYPE html>
<html ng-app>
	<head>
        <meta charset="utf-8">        
        <meta name="author" content="CHANGE-ME">
        <meta name="description" content="CHANGE-ME">
        
        <!-- Mobile Stuff -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="msapplication-tap-highlight" content="no">
        
        <!-- Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="application-name" content="CHANGE-ME">
        <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon.png">
        
        <!-- Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="CHANGE-ME">
        <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">
        
        <!-- Windows 8 -->
        <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon.png">
        <meta name="msapplication-TileColor" content="#FFFFFF">
        
        
        <meta name="theme-color" content="#000000">
        
        <link rel="shortcut icon" href="favicon.ico">
        
        <title>CHANGE-ME</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
        
    </head>

    <body ng-controller="customersControllerAs as controller">    
        <!-- Insert your HTML here -->
        
         Filter <input type="text" ng-model="filter.name" /> <br/>
        <table>
            <tr>
                <th ng-click="controller.sortByName('name')">Name</th>
                <th ng-click="controller.sortByName('city')">City</th>
                <th>Order</th>
                <th>Joined</th>
            </tr>
            <tr ng-repeat="cust in controller.customers | filter:filter | orderBy: controller.sortBy: controller.reverse">
                <td>{{ cust.name | uppercase }}</td>
                <td>{{ cust.city }}</td>
                <td>{{ cust.order | currency }}</td>
                <td>{{ cust.joined | date:'medium' }}</td>
            </tr>
        </table>
        <!-- Scripts -->
        
        <script src="angular-1.2.9.js"></script>
        <script src="js/controllers/customers.js"></script>
        
    </body>
</html>